body {
    margin: 0;
    font-size: 20px;
    font-family: "Baloo 2", cursive;
    line-height: 1.7;
    color:  #76767e;
    background: black;
    display: -ms-flexbox;
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1140px; 
}

h1 {
    color: #57567d;
    margin-bottom: 0;
    font-size: 40px;
    text-transform: uppercase;
}

h5 {
    margin-top: 0;
    margin-bottom: 30px;
    font-style: italic;
}

.source {
    padding-top: 30px;
}






